@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
nav{
  background: white;
  position: fixed;
  padding: 5px 40px;
  width: 100%;
  height: 90px;
  box-shadow: 0 0 10px rgba(81, 136, 136, 0.3);
  z-index: 999;
}
nav ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
nav ul li{
  padding: 25px 0;
  cursor: pointer;
}
nav ul li.items{
  position: relative;
  width: auto;
  margin: 0 16px;
  text-align: center;
  order: 3;
}
nav ul li.items:after{
  position: absolute;
  content: '';
  left: 0;
  bottom: 5px;
  height: 2px;
  width: 100%;
  background: #33ffff;
  opacity: 0;
  transition: all 0.2s linear;
}
nav ul li.items:hover:after{
  opacity: 1;
  bottom: 8px;
}
nav ul li.logo{
  flex: 1;
  color: #113B7E;
  font-size: 28px;
  font-weight: 600;
  cursor: default;
  user-select: none;
}
nav ul li a{
  color: black;
  font-size: 16px;
  text-decoration: none;
  transition: .4s;
}
nav ul li:hover a{
  color: #33ffff;
}
nav ul li i{
  font-size: 16px;
}
nav ul li.btn{
  display: none;
}
nav ul li.btn.hide i:before{
  content: '\f00d';
}
@media all and (max-width: 900px){
  nav{
    padding: 5px 30px;
  }
  nav ul li.items{
    width: 100%;
    display: none;
  }
  nav ul li.items.show{
    display: block;
  }
  nav ul li.btn{
    display: block;
  }
  nav ul li.items:hover{
    border-radius: 5px;
    box-shadow: inset 0 0 5px #113B7E,
                inset 0 0 10px #113B7E;
  }
  nav ul li.items:hover:after{
    opacity: 0;
  }
}

/*bg photo*/

#bgphto{
  padding: 0 90px;
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(Logo-muis.png);
  background-size: 100%;
  background-position: center;
  background-attachment: fixed;
  z-index: 1;
  background-repeat: no-repeat;
}

.scroll-down1 {
  background: #113B7E;
  height: 45px;
  width: 200px;
  border: 2px solid #113B7E;
  position: absolute;
  text-align: center;
  left: 43%;
  bottom: 40px;
  border-radius: 50px;
  cursor: pointer;
}

@keyframes example {
  10%   {background-color: #2092DA; border: 2px solid #2092DA}
  20%  {background-color: #113B7E;border: 2px solid #113B7E}
  30%  {background-color: #2092DA; border: 2px solid #2092DA}
  40% {background-color: #113B7E;border: 2px solid #113B7E}
  50%   {background-color: #2092DA; border: 2px solid #2092DA}
  60%  {background-color: #113B7E;border: 2px solid #113B7E}
  70%  {background-color: #2092DA; border: 2px solid #2092DA}
  80% {background-color: #113B7E;border: 2px solid #113B7E}
  90%   {background-color: #2092DA; border: 2px solid #2092DA}
  100%  {background-color: #113B7E;}
  
}

.scroll-down1:hover{
  bottom: 48px;
  transition: 0.3s;
  animation-name: example;
  animation-duration: 5s;
}
.scroll-down1 p {
  padding-top: 5px;
  color: #FAFCFC;
  font-size: 20px;
  font-weight: 500;
    font-family: "Roboto", sans-serif;
}

.scroll-down {
  transform: rotate(180deg);
  height: 60px;
  width: 30px;
  border: 2px solid #113B7E;
  position: fixed;
  left: 95%;
  bottom: 30px;
  border-radius: 50px;
  cursor: pointer;
  background: white;
}
.scroll-down::before,
.scroll-down::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -100%) rotate(45deg);
  border: 2px solid #113B7E;
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite;
}
.scroll-down::before {
  top: 30%;
  animation-delay: 0.3s;
  /* animation: scroll-down 1s ease-in-out infinite; */
}

@keyframes scroll-down {
  0% {
    /* top:20%; */
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    top: 90%;
    opacity: 0;
  }
}





.theme-color {
    color: #113B7E;
}
.title-small {
    font-weight: 300;
    font-size: 18px;
}
.section {
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
  z-index: 9;
  
}
@media (min-width: 992px) {
  .section {
    margin-bottom: 45px;
    position: sticky;
  top: 90px;

  }
}

.section h2 {
  margin-top: -8px;
   font-size: 30px;
}
.row {
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    line-height: 28px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.service {
    background: #fff;
    max-width: 1520px;
    margin: 0 auto;
    z-index: 1;
    padding: 20px 40px;
}
.aa {
    border-bottom: 1px solid #ffe6e1;
}
.bb {
    border-bottom: 1px solid #ffe6e1;
}
.cc {
    border-bottom: 1px solid #ffe6e1;
}
.hide {
  display: none;
  font-size: 14px;
}
    
.a1:hover + .hide {
  transition: 0.5s;
   opacity: 1;
  display: block;
  color: #113B7E;
}
.hide2 {
  display: none;
  font-size: 14px;
}
    
.a2:hover + .hide2 {
  transition: 0.5s;
   opacity: 1;
  display: block;
  color: #113B7E
}
.hide3 {
  display: none;
  font-size: 14px;
}
    
.a3:hover + .hide3 {
  transition: 0.5s;
  opacity: 1;
  display: block;
  color: #113B7E
}
.a1 {
  height: 60px;
  padding: 20px 0;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.a1 :after {
  content: '»';
  position: absolute;
  opacity: 0;  
  transition: 0.5s;
}

.a1:hover{
  padding-right: 24px;
  font-size: 24px ;
  padding-left:8px;
}

.a1 :hover:after {
  opacity: 1;
  right: 10px;
}
.a2 {
  height: 60px;
  padding: 20px 0;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.a2 :after {
  content: '»';
  position: absolute;
  opacity: 0;  
  transition: 0.5s;
}

.a2:hover{
  padding-right: 24px;
  font-size: 24px ;
  padding-left:8px;
}

.a2 :hover:after {
  opacity: 1;
  right: 10px;
}
.a3 {
  height: 60px;
  padding: 20px 0;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.a3 :after {
  content: '»';
  position: absolute;
  opacity: 0;  
  transition: 0.5s;
}

.a3:hover{
  padding-right: 24px;
  font-size: 24px ;
  padding-left:8px;
}

.a3 :hover:after {
  opacity: 1;
  right: 10px;
}


.BgColour {
    transition: all 1s;
    background-color: #113B7E;
    border-bottom: 1px solid 113B7E;
}

nav ul li.logocolor {
  color: white;
}

nav ul li .acolor{
  color: white;
}

.test {
  position: sticky;
  top: 90px;
}








.hhh {
 color: white;
 background-color: #113B7E;
 text-align: center;
}
figure.snip1383 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  width: 20.5vw;
  height: 230px;
  color: #ffffff;
  text-align: left;
  background-color: #113B7E;
  font-size: 16px;
}
figure.snip1383 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
figure.snip1383 img {
  max-width: 100%;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  backface-visibility: hidden;
}
figure.snip1383 figcaption {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  -webkit-transform: scale(0.5) translate(0%, -50%);
  transform: scale(0.5) translate(0%, -50%);
  -webkit-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  z-index: 1;
  opacity: 0;
  padding: 0 30px;
}
figure.snip1383 h3,
figure.snip1383 p {
  line-height: 1.5em;
  color: white;
}
figure.snip1383 h3 {
  margin: 0;
  font-weight: 800;
  text-transform: uppercase;
}
figure.snip1383 p {
  font-size: 12px;
  font-weight: 500;
  margin: 0 0 15px;
}


figure.snip1383:hover img,
figure.snip1383.hover img {
  -webkit-animation: snip1383 0s linear forwards;
  animation: snip1383 0s linear forwards;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  width: 600px;
  height: 600px;
  
}
figure.snip1383:hover figcaption,
figure.snip1383.hover figcaption {
  -webkit-transform: scale(1) translate(0, -50%);
  transform: scale(1) translate(0, -50%);
  opacity: 1;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  
}
@keyframes snip1383 {
  50% {
    -webkit-transform: scale(0.8) translateY(0%);
    transform: scale(0.8) translateY(0%);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(0.8) translateY(150%);
    transform: scale(0.8) translateY(150%);
    opacity: 0.5;
  }
}
@keyframes snip1383 {
  50% {
    -webkit-transform: scale(0.8) translateY(0%);
    transform: scale(0.8) translateY(0%);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(0.8) translateY(150%);
    transform: scale(0.8) translateY(150%);
    opacity: 0.5;
  }
}

.medee {
  
  
}
.medee ul{
  padding-left: 60px;
  padding-right: 60px;
}
.medee ul li {
  display: inline-block;
}